<section class="panel banner right">
	<div class="content color0 span-3-75">
    <a href="/">Voltar para home</a><br>
    <h1>Editing cliente</h1>

    <%= render "form", cliente: @cliente %>

    <br>

    <div>
      <%= link_to "Show this cliente", @cliente %> |
      <%= link_to "Back to clientes", clientes_path %>
    </div>
  </div>

	<div class="image filtered span-1-75" data-position="25% 25%">
    <img src="/images/pic01.jpg" alt="" />
  </div>
</section>