<h1>Editing pedido produto</h1>

<%= render "form", pedido_produto: @pedido_produto %>

<br>

<div>
  <%= link_to "Show this pedido produto", @pedido_produto %> |
  <%= link_to "Back to pedido produtos", pedido_produtos_path %>
</div>
