<% if resource.errors.any? %>
  <div id="error_explanation" data-turbo-cache="false">
    <h4>
      Confira os erros abaixo:
    </h4>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
