<div id="<%= dom_id aluno %>">
  <p>
    <strong>Nome:</strong>
    <%= aluno.nome %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= aluno.email %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= aluno.password %>
  </p>

</div>
