<section class="panel banner right">
  <div class="content color0 span-3-75">
    <h1>Novo Aluno</h1>

    <%= render "form" %>
  </div>

  <div class="image filtered span-1-75" data-position="25% 25%">
    <img src="/images/pic01.jpg" alt="" />
  </div>
</section>