<section class="panel banner right">
  <div class="content color0 span-3-75">
    <h1>Aluno</h1>

    <a href="<%= alunos_path %>">Lista de Alunos</a><br>

    <div>
      Nome: <%= @aluno.nome %>
    </div>
    <div>
      Email: <%= @aluno.email %>
    </div>
    <div>
      Password: <%= @aluno.password %>
    </div>

  </div>

  <div class="image filtered span-1-75" data-position="25% 25%">
    <img src="/images/pic01.jpg" alt="" />
  </div>
</section>