<!-- Panel (Banner) -->
<section class="panel banner right">
	<div class="content color0 span-3-75">
		<h1 class="major">Desafio 21 dias de Rails Avançado</h1>
		<p>
			Este é um layout incluido junto com os alunos aovivo no desafio 21 dias
		</p>
		<ul class="actions">
			<li><a href="#first" class="button primary color1 circle icon solid fa-angle-right">Next</a></li>
		</ul>
	</div>
	<div class="image filtered span-1-75" data-position="25% 25%">
		<img src="/images/pic01.jpg" alt="" />
	</div>
</section>

<!-- Panel (Spotlight) -->
<section class="panel spotlight medium right" id="first">
	<div class="content span-7">
		<h2 class="major">Cadastro de Clientes</h2>
		<p>
			Este é um cadastro de clientes que geramos via scaffold
		</p>
		<a href="/clientes">Clique aqui para acessar</a>
	</div>
	<div class="image filtered tinted" data-position="top left">
		<img src="/images/pic02.jpg" alt="" />
	</div>
</section>


<section class="panel spotlight large left">
	<div class="content">
		<h2 class="major">Stimulus</h2>
		<p>
			Stimulus é uma estrutura JavaScript minimalista criada pela Basecamp, a mesma empresa por trás do Ruby on Rails. Ela foi projetada para simplificar a adição de comportamento JavaScript a aplicativos HTML existentes, em vez de criar aplicativos JavaScript de página única (SPA) complexos.
			<br>
			Stimulus funciona anexando funcionalidades JavaScript a elementos HTML específicos, usando atributos de data personalizados. Em vez de manipular o DOM diretamente ou manter um estado complexo, os componentes Stimulus são acionados por ações do usuário, como cliques ou entradas, e modificam o HTML existente com base nessas ações.
			<br>
			A filosofia de design de Stimulus enfatiza a simplicidade e a reutilização. Ao contrário de outras estruturas JavaScript, ela não tenta fazer tudo por você. Em vez disso, se concentra em fornecer um conjunto mínimo de funcionalidades que podem ser usadas para construir componentes interativos complexos quando combinados com outras ferramentas e bibliotecas.
			<br>
			Um princípio central do Stimulus é que o HTML deve ser a fonte de verdade para o estado do aplicativo, em vez de um modelo JavaScript ou uma loja de estado. Isso significa que você geralmente usará Stimulus para adicionar comportamento interativo a páginas HTML geradas no servidor, embora possa ser usado com páginas HTML estáticas ou mesmo com outras estruturas JavaScript, como React ou Vue, se desejado.
		</p>
		<a href="/stimulus">Clique aqui para ter acesso a pagina com exemplo</a>
	</div>
	<div class="image filtered tinted" data-position="top right">
		<img src="images/pic03.jpg" alt="" />
	</div>
</section>