/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .app-principal{
    color: aquamarine;
 }

 .btn{
   width: 60px;
   height: 30px;
   font-size: 8px;
   padding: 0px;
   margin: 0px;
   vertical-align: middle;
   letter-spacing: 0px;
   line-height: 0px;
 }
 
 .notice{
  border-radius: 10px;
  color: #6ffb6f;
  position: absolute;
  z-index: 9999;
  top: 4%;
  right: 2%;
  background: #00000078;
  display: block;
  text-align: right;
  padding: 10px;
 }


 .error{
  border-radius: 10px;
  color: #fb6f6f;
  position: absolute;
  z-index: 9999;
  top: 4%;
  right: 2%;
  background: #00000078;
  display: block;
  text-align: right;
  padding: 10px;
 }

 .margin-devise{
  margin: 10px 0px 0px 0px
 }

 .alert{
  border-radius: 10px;
  color: yellow;
  position: absolute;
  z-index: 9999;
  top: 4%;
  right: 2%;
  background: #00000078;
  display: block;
  text-align: right;
  padding: 10px;
 }


 .sair{
  border-radius: 10px;
  color: #6ffb6f;
  position: absolute;
  z-index: 9999;
  top: 2%;
  right: 1%;
  background: #00000078;
  display: block;
  text-align: right;
  padding: 5px 10px 5px 10px;
 }