<p>Olá <%= @resource.email %>!</p>

<p>Você solicitou o link para alteração de senha, segue o link abaixo.</p>

<p><%= link_to 'Clique aqui para alterar', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se não foi você que soliciou, ignore este email.</p>
