<p>
    Olá <%= @cliente.nome %>, você está recebendo um email pois participa do
    desafio de rails avançado, onde você irá aprender várias técnicas
    importantes para o dia dia do trabalho
</p>

<p>
  Bons estudos.
</p>